<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>Timecard: <%= current_user.first_name.capitalize %></h1>
      <hr>

      <h2>Choose your Job</h2>

      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Select Job
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <% current_user.jobs.each do |job| %>
          <li><a href="/jobs/<%= job.id %>"><%= job.company.name.upcase %>: <%= job.title %></a></li>
      <% end %>
        </ul>
      </div>

    </div>
  </div>
</div>
